.experiencia__container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 1rem;
}

.experiencia__container__other{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .experiencia__container {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    
    }
}