.hobbies__cards{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 1rem;
}


@media screen and (min-width: 1024px) {
    .hobbies__cards {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    
    }
}

@media screen and (min-width: 1280px) {
    .hobbies__cards {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    
    }
}