.footer{
    background-color:  #FFFFFF;
    width: auto;
    margin: 32px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insignias{
    display: flex;
    justify-content: space-between;
}

.insignias img{
    width: 100px;
}

@media screen and (min-width: 768px) {

    .footer{
        flex-direction: row;
    }
  
}