.contacto {
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 675px;
}
.image__contacto{
   display: none;
}

@media screen and (min-width: 1024px) {
 
    .contacto {
        
        display: flex;
        flex-direction: row;
     
    }

    .image__contacto{
       display: inline;
        margin-top: 10rem;
        width: 400px;
        height: 300px;
    }
}